<div class="row" style=" margin-top: 3%;">

    <div class="hovereffect col-sm-4">
        <img class="img-responsive" src="/components/shubh-yatra/images/planImg/manali3.jpg" alt=""
             draggable="false" ondragstart="return false;" hspace="20" vspace="20">
        <div class="overlay">
            <h2><a href="https://en.wikipedia.org/wiki/Manali" target="_blank">Manali</a></h2>
            <h2>
                <a href="https://www.google.co.in/flights/?f=0#search;f=PNQ;t=KUU;d=2016-11-03;tt=o;
                q=pune+to+manali+flight" target="_blank">Know More About Flights</a></h2>
        </div>
    </div>
    <div class="hovereffect col-sm-4">
        <img class="img-responsive" src="/components/shubh-yatra/images/planImg/delhi.jpg" alt="" draggable="false"
             ondragstart="return false;" hspace="20" vspace="20">
        <div class="overlay">
            <h2><a href="https://en.wikipedia.org/wiki/Delhi" target="_blank">Delhi</a></h2>
            <h2>
                <a href="https://www.google.co.in/flights/?f=0#search;f=PNQ;t=DEL;d=2016-11-07;tt=o;
                q=pune+to+delhi+flight" target="_blank">Know More About Flights</a></h2>
        </div>
    </div>

    <div class="hovereffect col-sm-4">
        <img class="img-responsive" src="/components/shubh-yatra/images/planImg/haridwar.jpg" alt=""
             draggable="false" ondragstart="return false;" hspace="20" vspace="20">
        <div class="overlay">
            <h2><a href="https://en.wikipedia.org/wiki/Haridwar" target="_blank">Haridwar</a></h2>
            <h2>
                <a href="https://www.google.co.in/flights/?f=0#search;f=PNQ;t=DED;d=2016-11-07;tt=o;
                q=pune+to+haridwar+flights" target="_blank">Know More About Flights</a></h2>
        </div>
    </div>

    <div class="hovereffect col-sm-4">
        <img class="img-responsive" src="/components/shubh-yatra/images/planImg/jaipur.jpg" alt="" draggable="false"
             ondragstart="return false;" hspace="20" vspace="20">
        <div class="overlay">
            <h2><a href="https://en.wikipedia.org/wiki/Jaipur" target="_blank">Jaipur</a></h2>
            <h2>
                <a href="https://www.google.co.in/flights/?f=0#search;f=PNQ;t=JAI;d=2016-11-01;tt=o;
                q=pune+to+jaipur+flight" target="_blank">Know More About Flights</a></h2>
        </div>
    </div>
    <div class="hovereffect col-sm-4">
        <img class="img-responsive" src="/components/shubh-yatra/images/planImg/NEW%20YOURK12.jpg" alt=""
             draggable="false" ondragstart="return false;" hspace="20" vspace="20">
        <div class="overlay">
            <h2><a href="https://en.wikipedia.org/wiki/New_York" target="_blank">New_York</a></h2>
            <h2>
                <a href="https://www.google.co.in/flights/?f=0#search;f=PNQ;t=JFK,EWR,LGA;d=2016-11-02;r=2016-11-06;
                q=pune+to+new+york+flight" target="_blank">Know More About Flights</a></h2>
        </div>
    </div>
    <div class="hovereffect col-sm-4">
        <img class="img-responsive" src="/components/shubh-yatra/images/planImg/BOSTON11.jpg" alt=""
             draggable="false" ondragstart="return false;" hspace="20" vspace="20">
        <div class="overlay">
            <h2><a href="https://en.wikipedia.org/wiki/Boston" target="_blank">Boston</a></h2>
            <h2>
                <a href="https://www.google.co.in/flights/?f=0#search;f=PNQ;t=BOS;d=2016-11-02;
                r=2016-11-06;q=pune+to+boston+flight" target="_blank">Know More About Flights</a></h2>
        </div>
    </div>
</div>

<button type="button" class="btn ccbtn col-xs-offset-5" ui-sref="form.stepOne" ng-click='letsGo()'>Lets Go&nbsp;
    <i class="fa fa-car" style="font-size:35px;"></i>
</button>