.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  background-color: dimgrey;
}
.nav-tabs {
  border-bottom: 2px solid #000;
}
.nav > li > a {
  color: white;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  color: white;
  font-weight: bold;
}

.nav-tabs > li.active > a {
  color: white;
  font-weight: bold;
}
.nav>li.disabled>a{
  color: crimson;
}
.form-control {
  border: 2px solid darkgray;
}
.slide-image {
  margin: auto;
  width: 100%;
  height: 30%;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.content.new-inventory {
  padding: 8px 10px;
  width: 100%;
  overflow: hidden;
  color: #333;
}
.form-background {
  margin-top: 2%;
  background-image: url("./images/20.jpg");
  background-repeat: no-repeat;
  border-radius: 11px;
  padding: 20px;
  top: 20px;
}
.carousel {
  background: black;
}
.help-block {
  color: #c60008;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 18px;
}
.form-group {
  margin-bottom: 26px;
}
label {
  color: #666666;
}
.carousel-caption, .carousel-cell {
  left: 61%;
}
.carousel-indicators {
  left: 70%;
}
.nav-tabs.nav-justified > .active > a {
  background-color: #d8850e;
}
.btn .btn-block .btn-info {
  background-color: #cca300;
}
.photo-grid li:hover figcaption {
  opacity: 1;
}
.hovereffect {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  overflow: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-50px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}
.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.hovereffect:hover h2, .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}
.hovereffect, .hovereffect .overlay {
  overflow: hidden;
}
.radio-inline + .radio-inline, .roundTrip {
  margin-left: -2;

}
.cross:hover {
  opacity: 0.5;
  cursor: pointer;
}
.nav-tabs.nav-justified > li {
  background-color: #ff9d00;
  :active {
    background-color: black;
  }
  :hover {
    background-color: #d8850e;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: #ffe066;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  background-color: #d8850e;
  color: black;
}
.nav-tabs > li.active > a {
  color: black;
}
.nav > li > a {
  color: black;
}

.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

.textColor{
  color: #666666;
}

body {
  background: #FFD694;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}
.ccform {
  margin: 0 auto;
  width: 800px;
}

.ccfield-prepend {
  margin-bottom: 10px;
  width: 100%;
}

.ccform-addon {
  color: #f8ae45;
  float: left;
  padding: 8px;
  width: 8%;
  text-align: center;
}

.ccformfield {
  color: #000000;
  background: #FFFFFF;
  border: none;
  padding: 15.5px;
  width: 91.9%;
  display: block;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
}

.ccformfield {
  font-family: 'Lato', Arial, sans-serif;
}
.ccbtn {
  display: block;
  border: none;
  background: #ff9d00;
  color: #000000;
  padding: 12px 25px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.ccbtn:hover {
  background: #d8850e;

}
.has-error .form-control {
  border-color: #a9a9a9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.Active{
  pointer-events: auto;
}
.notActive{
  pointer-events: none;
}